<ion-nav-view view-title="editprofile">
  <ion-view>
    <div class="bar bar-header bar-light">
      <button class="button icon ion-chevron-left" ng-click="goBack()"> Back</button>
      <h1 class="title">Edit profile</h1>
      <i class="button icon ion-checkmark" ng-click="goBack()"></i>
    </div>
    <ion-content class="padding edit_profile_pic">
        <div class="item-image has-header">
          <i class="icon icon ion-person brand-custom"></i>
        </div>
        <div class="user-title">
          John
        </div>
        <button class="button button-stable edit_picture">
          <i class="icon ion-ios-compose-outline"></i>
          Change picture
        </button>
        <div class="list text-black">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nickname</span>
            <input type="text" placeholder="Type nickname here">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Your Bio</span>
            <textarea class="" type="text" placeholder="Write something about yourself"></textarea>
          </label>
        </div>
    </ion-content>
  </ion-view>
</ion-nav-view>
