<div class="bar bar-header bar-light">
  <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
  <h1 class="title">Sign up</h1>
</div>
<ion-content class="padding has-header">
    <div class="list mywrapper">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label>
          <label class="item item-input">
            <span class="input-label">Confirm password</span>
            <input type="password">
          </label>
          <div class="row">
               <div class="col text-center">
                 <button class="button login_width button-balanced">
                     Submit
                 </button>
               </div>
             </div>
          <p class="center padding-vertical">
            Already have an account? <a href="#">Sign in</a></p>
    </div>
</ion-content>
