
<ion-tabs class="tabs-icon-top tabs-color-dark tabs-color-active-balanced">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home " icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home" ></ion-nav-view>
  </ion-tab>

  <!-- Partners Tab -->
  <ion-tab title="Partners" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/tab/partners" menu-close>
    <ion-nav-view name="tab-partners"></ion-nav-view>
  </ion-tab>

  <!-- Tasks Tab -->
  <ion-tab title="Tasks" icon-off="ion-ios-list" icon-on="ion-ios-list" href="#/tab/tasks" menu-close>
    <ion-nav-view name="tab-tasks"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/tab/profile" menu-close>
    <ion-nav-view name="tab-profile" ></ion-nav-view>

  </ion-tab>


</ion-tabs>
